 /* 公用 */
.w1400{
  width: 1400px;
} 
.mg-auto{
  margin: 0 auto;
}
a {
  text-decoration: none;
}  
.fx-1{
  flex: 1;
}
.al-s {
  align-content: flex-start;
}  
.js-s {
  justify-content: flex-start;
} 
.h100 {
  height: 100%;
} 

.blue {
  background-color: #3296fa;
} 

.tu_img{
    width: 680px;
    height: 480px;
    background-color: #3296fa;
  }
 
 /* 轮播图 */
.slide__main{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
.slide__main__content{
  width: 100%;
}
.slide__main__content__title{
    margin-top: 5px;
    font-size: 60px;
    line-height: 85px;
    color: white;
}

.slide__main__content__des{ 
  width: 965px;
  padding: 0 10px;
  box-sizing: border-box;
    margin-top: 5px;
    font-size: 28px;
    line-height: 40px;
    /* text-align: center; */
    color: white;
}
.slide__main__content__btn{
  margin-top:30px;
}
.slide__main__content__btn button{
    width: 120px;
    height: 48px;
    background: rgb(255, 255, 255);
    color: #3296FA;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 3px  8px rgb(133, 133, 133);
} 
.slide__main__content__btn button:last-child{ 
    background: #3296FA;
    color: white;
    margin-left: 60px;
}


/* 解决方案 */
.product__content{   
  padding:100px 260px 100px 260px ;
  box-sizing: border-box; 
  background-color: #F7FBFE; 
}
.w1400{
  width: 1400px;
}
.product__content__title {
  font-size: 40px;
  line-height: 45px;
}
.product__content__des {
  font-size: 20px;
  line-height: 32px;
  color: #272727; 
} 
.product__content__row {
  width: 100%;
}
.mg-t45{
  margin-top:45px
}
.product__item{
  padding-top: 40px;
}
.product__content__row__right{
  padding:130px 170px 130px 140px;
  box-sizing: border-box;
  
}


/* 系统模块 */
.sys__content{
  padding: 100px 260px;
  box-sizing: border-box;

}
.sys__content__title{
  font-size: 40px;
  line-height: 45px;
}
.sys__content__des{
  font-size: 20px;
  line-height: 32px;
  color: #272727; 
}


/* 解决痛点 */
.advantage__content{
  padding: 100px 260px;
  box-sizing: border-box;
  background-color: #F7FBFE;
}
.advantage__content__title{
  font-size: 40px;
  line-height: 45px;
}
.advantage__content__des{
  font-size: 20px;
  line-height: 32px;
  color: #272727;
}
.mg-t60{
  margin-top: 60px;
}
.advantage__content__row{
  height: 340px;
  width: 320px;
  background-color: #fff;
  box-shadow: 0 0  8px rgb(211, 210, 210);
  padding: 46px 40px;
  box-sizing: border-box;
}
.advantage__contain__row__text__title{
  font-size: 23px;
  line-height: 30px;
  padding-top: 20px;
  box-sizing: border-box;
}
.f-l{
  flex: 1;
}
.advantage__contain__row__text_des{ 
  margin-top: 20px;
  font-size: 15px;
  line-height: 24px;
  color: #9B9B9B;
  text-align: center;
}
.advantage__btn{ 
  margin-top: 60px;

}
.advantage__btn button{
  width: 120px;
  height: 48px; 
  background-color: #fff;
  color: #3296fa;
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 3px  8px rgb(180, 180, 180);
}
.advantage__btn button:last-child{ 
  background-color:  #3296fa;
  color:#fff;
  margin-left: 60px;
}

 
 
 

 
 


