.tu_img{
    width: 680px;
    height: 480px;
    background-color: #3296fa;
  }
  .w1400{
    width: 1400px;
  }
  .mian_contain_title{
    width:720px;
    padding:140px 190px 150px 140px ;
    box-sizing: border-box;
  }
  .mg-auto{
    margin: 0 auto;
  }
  .one_title {
    font-size: 40px;
    color: #272727;
    margin-top: 45px;
  }
 
  .mg-t {
    margin-top: 40px;
  }
  .w50 {
    width: 50%;
  }
  .mian_contain_one {
    width: 1400px;
  }
  .mian_contain { 
    padding: 110px 0 100px 0;
    box-sizing: border-box;
  }
  .title_mian {
    font-size: 40px;
    line-height: 54px;
  }
  span {
    font-size: 20px;
    line-height: 32px;
    color: #272727;
    /* margin-top: 10px; */
  } 
  .main_text {
    height: 235px; 
    width: 660px;
  }
  .main {
    width: 1440px;
    margin: 0 auto;
    height: 100%;
  }
  .line {
    border-bottom: 2px #4facfe solid;
    width: 66px;
    height: 10px;
  }
  .en_text {
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 600;
    margin-left: 20px;
    line-height: 20px;
  }
  .text {
    font-size: 22px;
    color: #9b9b9b;
    line-height: 28px;
    margin-top: 20px;
  }
  .title {
    color: #171063;
    font-size: 50px;
    line-height: 70px;
  }